html {
    margin: 0;
    padding: 0;
}

.back {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.center {
    position: absolute;
    top: calc(var(--tg-viewport-height) / 2);
}
