html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

.back {
    position: relative;
    width: 100vw;
    height: calc(var(--viewport-height) * 1.9163);
    background: #1a1a1a;
}

.ava {
    position: absolute;
    height: calc(var(--viewport-height) * 0.0509184549356223);
    border-radius: calc(var(--viewport-height) * 0.1);
    top: calc(var(--viewport-height) * 0.0311158798283262);
    left: 3.11158798283262vw;
}

.hi {
    position: absolute;
    left: 17.2093023255814vw;
    top: calc(var(--viewport-height) * 0.0429184549356223);
    color: #ffffff;
    font-family: Inter;
    font-weight: 300;
}

.like_btn {
    position: relative;
    background-color: transparent;
    height: calc(var(--viewport-height) * 0.119184549356223);
    width: calc(var(--viewport-height) * 0.109184549356223);
    left: 76vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: transparent;
}

.like_img {
    position: absolute;
    height: 30%;
}

.story_btns {
    position: relative;
    left: 3.11158798283262vw;
    width: 90vw;
}

.story_btn {
    position: re;
    background-color: transparent;
    color: #ffffff;
    border-radius: calc(var(--viewport-height) * 0.1);
    height: calc(var(--viewport-height) * 0.0432618025751073);
    border: calc(var(--viewport-height) * 0.001) solid #ffffff; /* 1% от высоты окна */
    padding-left: 0.418604651162791vw;
    margin-bottom: calc(var(--viewport-height) * 0.005);
}

.story_btn_text {
    font-family: Inter;
    padding-left: 4.18604651162791vw;
    padding-right: 4.18604651162791vw;
}

.design_btns {
    display: flex;
    position: relative;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    left: 3.11158798283262vw;
    width: 96.09vw;
    top: calc(var(--viewport-height) * 0.06);
    white-space: nowrap;
}

.design_btn {
    flex: 0 0 auto;
    width: 54.48837209302326vw;
    height: calc(var(--viewport-height) * 0.224034334763948);
    border: none;
    margin-right: 3vw;
    border-radius: calc(var(--viewport-height) * 0.01);
    background-color: #2a2a2a;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Добавляем позиционирование для размещения внутреннего текста */
    overflow: hidden; /* Убедитесь, что все содержимое будет скрыто, если выходит за пределы кнопки */
}

.design_btns::-webkit-scrollbar {
    display: none;
}

.design_text_in_btn {
    font-family: Inter;
    font-size: calc(var(--viewport-height) * 0.0236051502145923);
    font-weight: 600;
    z-index: 2;
    color: #8d8d8d;
    text-overflow: ellipsis; /* Добавьте это свойство, чтобы текст не выходил за пределы кнопки */
    white-space: nowrap; /* Запретите перенос текста на новую строку */
    overflow: hidden; /* Скрыть текст, который выходит за пределы кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
}


.design_text {
    color: #ffffff;
    font-family: Inter;
    font-size: calc(var(--viewport-height) * 0.0276051502145923);
    font-weight: 500;
    position: absolute;
    left: 3.11158798283262vw;
}

.photo_in_btn {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1; /* Устанавливаем z-index, чтобы текст был виден поверх изображения */
    object-fit: cover; /* Используйте cover для покрытия всего контейнера */
    object-position: center; /* Центрируем изображение внутри контейнера */
}

.photo_in_btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: multiply; /* Смешивает изображение с фоном */
}

.photo_in_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(22, 22, 22, 0.8); /* Полупрозрачный цвет */
    pointer-events: none; /* Псевдоэлемент не будет мешать взаимодействию с кнопкой */
}

.right {
    top: 45%;
    position: absolute;
    height: calc(var(--viewport-height) * 0.0259184549356223);
    z-index: 1;
    left: 67%;
    
}

.design_utilits {
    position: relative;
    top: calc(var(--viewport-height) * 0.03);
}

.design_utilits.second {
    top: calc(var(--viewport-height) * 0.12);
}

.design_utilits.third {
    top: calc(var(--viewport-height) * 0.21);
}

.gray_line {
    position: absolute;
    width: 90vw;
    left: 5vw;
    background-color: #8d8d8d;
    height: calc(var(--viewport-height) * 0.001);
    top: calc(var(--viewport-height) * 1.2);
}

.freelance_btn {
    position: absolute;
    left: 5vw;
    top: calc(var(--viewport-height) * 1.22);
    border-radius: calc(var(--viewport-height) * 0.019);
    border: calc(var(--viewport-height) * 0.001) solid #7e7e7e;
    width: 90vw;
    height: calc(var(--viewport-height) * 0.065);
    background-color: transparent;
}

.freelance_text_btn {
    color: #a2a2a2;
    font-family: Inter;
    font-weight: 300;
    font-size: calc(var(--viewport-height) * 0.0196051502145923);
}

.ok_right {
    top: 33%;
    position: absolute;
    height: calc(var(--viewport-height) * 0.0259184549356223);
    z-index: 1;
    left: 74%;
}

.just_btns {
    position: relative;
    top: calc(var(--viewport-height) * 0.43);
}

.just_btn {
    position: relative;
    left: 5vw;
    border: calc(var(--viewport-height) * 0.001) solid transparent;
    width: 90vw;
    height: calc(var(--viewport-height) * 0.065);
    background-color: transparent;
}

.just_text_btn {
    position: absolute;
    top: 35%;
    left: 3%;
    color: #a2a2a2;
    font-family: Inter;
    font-weight: 300;
    font-size: calc(var(--viewport-height) * 0.0196051502145923);
}

.just_gray_line_btn {
    position: absolute;
    width: 87vw;
    bottom: 0%;
    background-color: #8d8d8d;
    height: calc(var(--viewport-height) * 0.001);
    left: 0%;
}

.just_right {
    top: 33%;
    position: absolute;
    height: calc(var(--viewport-height) * 0.0259184549356223);
    z-index: 1;
    left: 95%;
}